@import '../node_modules/material-ui-sass/material-ui.scss';
@import './home/home';
@import './contact/contact';
@import './navbar/navbar';
@import './custom-works/custom-works.scss';

html, body {
  height: 100%;
  width: 100%;
  font-family: Roboto, sans-serif;
}

.page {
  height: 100%;
  width: 100%;
}

