{{define "body"}}
<div class="contact-page">
    <div class="left">
        <h2>Hanna Schulz</h2>
        <div>
            Born in Parker, Hanna's distinct artistic aesthetic was shaped by her
            years in Fort Colins and Australia. In her youth, Hanna was always drawn
            to the arts; ballet, music, dancing, woodwork, jewelry-making, and
            painting were some of the many talents she would acquire. After returning
            from Australia, where she explored new mediums of shell and sand in her
            paintings, Hanna moved to Denver. There she is an active member of
            the underground art movement, and can be found at many local art festivals.
        </div>
        <div>
            Through skillful craft and novel approaches, Hanna shares with us
            her unique and expressive vision in painting. Her work often inspires one
            to deep thought: sometimes a detail unnoticed in a dozen viewings that
            changes the message of a painting, other times a work whose message
            leaves a contemplative thought which sits on one's mind. Her work is
            deeply personal; it is hard to predict how each person will be affected
            before they experience it.
        </div>
        <div>Hanna can be reached via email at <a href="mailto:hmschulz18@gmail.com">hmschulz18@gmail.com</a></div>
    </div>
    <div class="right">
        <img src="/images/hanna-portrait.jpg"/>
    </div>
</div>
{{end}}