.home-page {
  text-align: center;
  padding-top: 5%;

  .text {
    font-size: 4em;
  }

  .subtext {
    font-size: 2em;
  }

  img {
    margin-top: 100px;
    width: 50%;
    transform: rotate(180deg);
  }
}